

html, body, *{
  margin: 0;
  padding:0 ;
  box-sizing: border-box;
  font-size: 62.5%;

}

body{
  background-color: var(--primary)
}

:root{
  --floralwhite: floralwhite;
  --brown: brown;
  --yellowwhite: rgb(255, 243, 219);
  --dark: rgb(49, 49, 49);
  --white: white;
  --grey: rgb(82, 82, 82);

  /* intentions */
  --primary: var(--floralwhite);
  --secondary: var(--brown);
  --thirdary: var(--yellowwhite);
} 
.lively{
  --primary: var(--floralwhite);
  --secondary: var(--brown);
  --thirdary: var(--yellowwhite);
}

.gloomy{
  --primary: var(--dark);
  --secondary: var(--white);
  --thirdary: var(--grey);
}


.title{
  font-size: 9rem;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 3rem;
  border-radius: 2rem;
  background-color: var(--thirdary);
  border: 0.5rem solid var(--secondary);
  color: var(--secondary);
}

.instructions{
  font-size: 2.5rem;
  text-align: center;
}

.buttons{
  font-size: 4rem;
  text-align: center;
  margin-left: 2rem;
  margin-right: 2rem;
}

.card{
  border: 8px solid var(--secondary);
  border-radius: 2rem;
  width: 61rem;
  text-align: center;
  background-color: var(--thirdary);
  box-shadow: 5px 5px 5px rgb(82, 77, 77);
  transition: 0.2s;
  padding-bottom: 2rem;
  color: var(--secondary);
  margin: 1rem;
  
}


.cards{
  font-size: 8rem;
  display: flex;
  justify-content: space-around;
  padding-bottom: 3rem;
  padding-top: 3rem;
  flex-wrap: wrap; 

}

#name{
  font-size: 5rem;
}

#price{
  font-size: 5rem;
}

#origin{
  font-size: 3rem;
}





/*https://huemint.com/brand-intersection/#palette=8cb7a6-4d424d-797a89-f3eef0
https://huemint.com/brand-intersection/#palette=4e3433-fbae41-ece0bd-ed5939
https://huemint.com/brand-intersection/#palette=eff2ff-002e5a-2a7987-74c4c3*/

